@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Voorpagina ";
}

@section frontpage {

<div class="fpbg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="sketchfab-embed-wrapper">
                    <p id="minititle" style="text-align: center; color: #f8f8f8; padding-top: 5px; font-size: 20px; ">Robot Info Site</p>
                    <iframe width= "100%" height= "100%" src="https://sketchfab.com/models/a50773eb0032496489bda37a7e42f088/embed?autospin=0.2&amp;autostart=1" 
                            frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                    
                </div>
            </div>
        </div>
    </div>
</div>
}



